In [5]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

import matplotlib

In [21]:
m = matplotlib.colors.XKCD_COLORS.keys()
xkcd_list = list(m)

In [29]:
import matplotlib

color_list = []
xkcd_colors = list(matplotlib.colors.TABLEAU_COLORS.keys())
for color in xkcd_colors:
    color_list.append(color[4:])

# color_list.reverse()
color_list

['blue',
 'orange',
 'green',
 'red',
 'purple',
 'brown',
 'pink',
 'gray',
 'olive',
 'cyan']

In [3]:
s = 'Long'
int(s)

ValueError: invalid literal for int() with base 10: 'Long'

In [6]:
def convert2datetime(data: pd.DataFrame, datetime_var: list):
    df_date = data.copy()
    err_date = None
    # Try to convert this var into datetime object
    if len(datetime_var) > 0:
        for var in datetime_var:
            try:
                df_date[var] = pd.to_datetime(df_date[var], infer_datetime_format=True)
            
            except Exception:
                err_date = "Cannot convert this variable into datetime object."

    return df_date, err_date

In [7]:
df_path = 'D:\Programming\Code_Workplace\Python\MyProjects\DATA\\netflix.csv'
df = pd.read_csv(df_path)
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2002-05-23,1.242857,1.145714,1.156429,1.196429,104790000.0,1.196429
1,2002-05-24,1.225000,1.197143,1.214286,1.210000,11104800.0,1.210000
2,2002-05-28,1.232143,1.157143,1.213571,1.157143,6609400.0,1.157143
3,2002-05-29,1.164286,1.085714,1.164286,1.103571,6757800.0,1.103571
4,2002-05-30,1.107857,1.071429,1.107857,1.071429,10154200.0,1.071429
...,...,...,...,...,...,...,...
4876,2021-10-05,640.390015,606.890015,606.940002,634.809998,9534300.0,634.809998
4877,2021-10-06,639.869995,626.359985,628.179993,639.099976,4580400.0,639.099976
4878,2021-10-07,646.840027,630.450012,642.229980,631.849976,3556900.0,631.849976
4879,2021-10-08,643.799988,630.859985,634.169983,632.659973,3271100.0,632.659973
4880,2021-10-11,639.419983,626.780029,633.200012,627.039978,2861200.0,627.039978

In [8]:
date_var = ['Date', 'High']
df_date, err = convert2datetime(df, date_var)

In [9]:
df_date

,Date,High,Low,Open,Close,Volume,Adj Close
0,2002-05-23,1970-01-01 00:00:00.000000001,1.145714,1.156429,1.196429,104790000.0,1.196429
1,2002-05-24,1970-01-01 00:00:00.000000001,1.197143,1.214286,1.210000,11104800.0,1.210000
2,2002-05-28,1970-01-01 00:00:00.000000001,1.157143,1.213571,1.157143,6609400.0,1.157143
3,2002-05-29,1970-01-01 00:00:00.000000001,1.085714,1.164286,1.103571,6757800.0,1.103571
4,2002-05-30,1970-01-01 00:00:00.000000001,1.071429,1.107857,1.071429,10154200.0,1.071429
...,...,...,...,...,...,...,...
4876,2021-10-05,1970-01-01 00:00:00.000000640,606.890015,606.940002,634.809998,9534300.0,634.809998
4877,2021-10-06,1970-01-01 00:00:00.000000639,626.359985,628.179993,639.099976,4580400.0,639.099976
4878,2021-10-07,1970-01-01 00:00:00.000000646,630.450012,642.229980,631.849976,3556900.0,631.849976
4879,2021-10-08,1970-01-01 00:00:00.000000643,630.859985,634.169983,632.659973,3271100.0,632.659973
4880,2021-10-11,1970-01-01 00:00:00.000000639,626.780029,633.200012,627.039978,2861200.0,627.039978

In [13]:
s = df['High']

d = pd.to_datetime(s, infer_datetime_format=True)
d

0      1970-01-01 00:00:00.000000001
1      1970-01-01 00:00:00.000000001
2      1970-01-01 00:00:00.000000001
3      1970-01-01 00:00:00.000000001
4      1970-01-01 00:00:00.000000001
                    ...
4876   1970-01-01 00:00:00.000000640
4877   1970-01-01 00:00:00.000000639
4878   1970-01-01 00:00:00.000000646
4879   1970-01-01 00:00:00.000000643
4880   1970-01-01 00:00:00.000000639
Name: High, Length: 4881, dtype: datetime64[ns]

In [11]:
s = '23/05/2002'

d = pd.to_datetime(s, infer_datetime_format=True)
d

Timestamp('2002-05-23 00:00:00')

In [12]:
s = '23 05 2002'

d = pd.to_datetime(s, infer_datetime_format=True)
d

Timestamp('2002-05-23 00:00:00')

In [15]:
s = 'Jun 2002'

d = pd.to_datetime(s, infer_datetime_format=True)
d

Timestamp('2002-06-01 00:00:00')